.features-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-container > .feature {
    width: auto;
    height: auto;
    min-width: 200px;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.features-container > .feature > svg {
    font-size: 2em;
    color: #3636e8;
}

.features-container > .feature > .feature-title {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #fff;
    margin-top: 1em;
    text-align: center;
}

.features-container > .feature > .feature-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0.5em;
    text-align: center;
}
